<h1>Nova viagem</h1>
</ul> 
<form action="/cadastro" method="POST"> 
    <input type="text" name="title" placeholder="Destino"> 
    <input type="text" name="url" id="" placeholder="Url da Imagem">
    <input type="date" name="datasaida" id="" placeholder="Data da saida">
    <input type="date" name="datachegada" id="" placeholder="Data da chegada">
    <input type="text" name="descricao" placeholder="descrição">
    <input type="text" name="preco" placeholder="Preço">
    <button type="submit">Adicionar</button> 
</form> 